/* ---------------------------RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------------------COMMON */
.container {
    margin: 0 auto;
}

.container.big {
    max-width: 1200px;
}

.container.small {
    max-width: 900px;
}

.header-bar > div, .header-bar > nav,
.header-bot > div, section > div,
section > aside, .footer-top > div,
.footer-bot div {
    border: 2px dashed black;
}

nav, .logo, .login {
    padding: 10px;
}

section:nth-child(even) {
    background-color: #d3d3d3;
}

.btn {
    padding: 1.5% 2%;
    border-radius: 60px;
}

header, footer {
    color: white;
}
/* ---------------------------DEBUG */

.container.small {
    height: 400px;
}

.col-big, .col-small, .footer-top {
    height: 600px;
}

.very-big {
    height: 900px;
}

/* ---------------------------HEADER */

header {
    border-bottom: 4px solid #add8e6;
    background-image: url(/img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.header-top {
    /* background-color: #add8e6; */
    padding: 15px 0;
}
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: orange; */
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
    justify-content: center;
}

.logo {
    
}


.logo, .login {
    width: 20%;
}

.login, #log{
    text-align: right;
    padding: 7px 14px;
}

.header-links {
    flex-grow: 1;
}
/* ------  */

.header-bot {
    /* background-color: #00008b; */
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.container.small {
    /* background-color: pink; */
    width: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.container.small h1 {
    padding-top: 120px;
}

.header-par {
    line-height: 1.4;
    padding: 45px 0 20px;
}

.header-bot-btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.scarica {
    background-color: white;
    color: black;
}

.apri-nel-brows {
    background-color: #23272a;
}
/* --------------------------- FINE HEADER */

/* ---------------------------MAIN */

section {
    padding: 50px;
    display: flex;
}

.col-big {
    width: 60%;
    background-color: blue;
}

.col-small {
    width: 40%;
    background-color: pink;
}

.very-big {
    background-color: green;
    width: 100%;
}
/* --------------------------- FINE MAIN */

/* ---------------------------FOOTER */

footer {
    background-color: #23272a;
    padding: 10px 50px 0;
}

.footer-top {
    display: flex;
    justify-content: center;
}


.container-colonne-piccole {
    flex-basis: 70%;
    background-color: #20b2aa;
    display: flex;
    justify-content: space-between;
}

.colonna-piccola {
    background-color: #20b2aa;
    flex-basis: 25%;
    border: 2px dashed white;
}

.colonna-grande {
    background-color: #f08080;
    flex-basis: 30%;
}

hr {
    color: lightgray;
    margin: 50px 0;
}
/* --------- */

.footer-bot {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.logo-footer, .bottone {
    padding: 3px;
    background-color: #f08080;
}
/* --------------------------- FINE FOOTER */
